<section class="section">
    <div class="container container-delta">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <h2 class="title">150M+ users trusted Delta worldwide</h2>
          </div>
          <div class="brand-carousel swiper-container pb-6">
            <div class="swiper-wrapper">

              <div class="block swiper-slide">
                <img loading="lazy" decoding="async" class="img-fluid mx-auto" width="200" height="53"
                  src="/images/clients/01.png"
                  alt="Brand Logo">
              </div>

              <div class="block swiper-slide">
                <img loading="lazy" decoding="async" class="img-fluid mx-auto" width="200" height="53"
                  src="/images/clients/02.png">
              </div>

              <div class="block swiper-slide">
                <img loading="lazy" decoding="async" class="img-fluid mx-auto" width="200" height="53"
                  src="/images/clients/03.png"
                  alt="Brand Logo">
              </div>

              <div class="block swiper-slide">

                <img loading="lazy" decoding="async" class="img-fluid mx-auto" width="200" height="53"
                  src="/images/clients/04.png"
                  alt="Brand Logo">
              </div>
              <div class="block swiper-slide">
                <img loading="lazy" decoding="async" class="img-fluid mx-auto" width="200" height="53"
                  src="/images/clients/05.png"
                  alt="Brand Logo">
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>