<section class="section call-to-action">
  <div class="container container-delta">
    <div class="row">
      <div class="col-lg-12">
        <div class="block bg-primary rounded-lg">
          <div class="row g-0 align-items-center">
            <div class="col-lg-8">
              <div class="content-block">
                <h3 class="text-white text-capitalize mb-2">Delta help us to organize our <br> remote design sprint.
                </h3>
                <p class="text-white mb-4">Pellentesque in ipsum id orci porta dapibus.porttitor lectus nibh. <br>
                  Praesent sapien massa, convallis a pellentesque nec nisi.</p>
                <a href="contact.html" class="btn btn-secondary">Contact Us <i
                    class="arrow-right fas fa-arrow-right"></i></a>
              </div>
            </div>

            <div class="col-lg-4">

              <img loading="lazy" decoding="async" class="rounded-lg img-fluid" width="425" height="432"
                src="/images/cta.png" alt="cta Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>